PORT=4000

AUTH_SERVICE_URL=http://localhost:4001
CATALOG_SERVICE_URL=http://localhost:4002
CART_SERVICE_URL=http://localhost:4004
ORDER_SERVICE_URL=http://localhost:4005
PAYMENT_SERVICE_URL=http://localhost:4006
NOTIFICATION_SERVICE_URL=http://localhost:4007

# IMPORTANT: this must be the EXACT SAME value as JWT_SECRET in auth-service/.env
JWT_SECRET=change_me_to_match_auth_service

# Redis connection for rate limiting
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
